<!DOCTYPE html>

<html>
    <head>
        <title>Template: Simple</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' href='layout.css'>
    </head>
    <body>   
        <div class="wrapper">
            <main>
                <div id="wrapper_textareas">
                    <section id="original_text">
                        <h2>Original text:</h2>
                        <div class="textarea"></div>
                    </section>

                    <section id="encrypted_text">
                        <h2>Encrypted text:</h2>
                        <div class="textarea"></div>
                    </section>
                </div>
                
                <footer>
                    <div id="footer_content">
                        <h2>About this page:</h2>
                        <p>Footer description of this page goes here.</p>
                    </div>
                </footer>

            </main>

            <aside>
                <header>
                    <h1>Page title</h1>
                    <section id="description">
                        <p>Decription of the page goes here</p>
                    </section>
                </header>

                <div id="wrap_keys">
                    <label>Your keys are:</label>
                    <section class="keys">tenis</section>
                    <div id="keys_decor">x</div>
                    <section class="keys">polar</section>
                </div>
                <div id="go_button">
                    <canvas></canvas>
                </div>
            </aside>
        </div>





    </body>
</html>
