<!DOCTYPE html>

<html>
    <head>
        <title>Template: Simple</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' href='layout.css'>
        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    </head>
    <body>   
        <div class="wrapper">
            <main>
                <div id="wrapper_textareas">
                    <section id="original_text">
                        <h1>Original text:</h1>
                        <div class="textarea">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam fringilla dolor, vitae bibendum augue blandit vitae. Donec ut venenatis erat. Integer nibh diam, hendrerit vel tortor non, varius condimentum sem. Nam ultricies ante orci, tempor hendrerit augue pellentesque eu. Fusce hendrerit risus ligula, posuere porttitor est imperdiet ac. Etiam sodales, tellus ut condimentum euismod, ipsum lacus bibendum lorem, at venenatis sapien orci in risus. Vestibulum eu ultricies nibh. Nullam ac tellus imperdiet, posuere leo eu, pulvinar massa. Duis lobortis diam felis, nec sollicitudin mi molestie eu. Proin nibh orci, mollis in velit eu, imperdiet dapibus leo. Duis eget ligula odio. Quisque nibh velit, facilisis vitae metus et, sodales commodo nisi. Pellentesque eu erat congue, elementum ante in, malesuada nibh. In sit amet velit ex.
                            </p>
                        </div>
                    </section>

                    <section id="encrypted_text">
                        <h1>Encrypted text:</h1>
                        <div class="textarea">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam fringilla dolor, vitae bibendum augue blandit vitae. Donec ut venenatis erat. Integer nibh diam, hendrerit vel tortor non, varius condimentum sem. Nam ultricies ante orci, tempor hendrerit augue pellentesque eu. Fusce hendrerit risus ligula, posuere porttitor est imperdiet ac. Etiam sodales, tellus ut condimentum euismod, ipsum lacus bibendum lorem, at venenatis sapien orci in risus. Vestibulum eu ultricies nibh. Nullam ac tellus imperdiet, posuere leo eu, pulvinar massa. Duis lobortis diam felis, nec sollicitudin mi molestie eu. Proin nibh orci, mollis in velit eu, imperdiet dapibus leo. Duis eget ligula odio. Quisque nibh velit, facilisis vitae metus et, sodales commodo nisi. Pellentesque eu erat congue, elementum ante in, malesuada nibh. In sit amet velit ex.
                            </p>

                        </div>
                    </section>
                </div>

                <footer>
                    <div id="footer_content">
                        <h1>About this page:</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam fringilla dolor, vitae bibendum augue blandit vitae. Donec ut venenatis erat. Integer nibh diam, hendrerit vel tortor non, varius condimentum sem. Nam ultricies ante orci, tempor hendrerit augue pellentesque eu. Fusce hendrerit risus ligula, posuere porttitor est imperdiet ac. Etiam sodales, tellus ut condimentum euismod, ipsum lacus bibendum lorem, at venenatis sapien orci in risus. Vestibulum eu ultricies nibh. Nullam ac tellus imperdiet, posuere leo eu, pulvinar massa. Duis lobortis diam felis, nec sollicitudin mi molestie eu. Proin nibh orci, mollis in velit eu, imperdiet dapibus leo. Duis eget ligula odio. Quisque nibh velit, facilisis vitae metus et, sodales commodo nisi. Pellentesque eu erat congue, elementum ante in, malesuada nibh. In sit amet velit ex.

Nulla eget efficitur massa. Aliquam erat volutpat. In euismod ante sit amet turpis fermentum, eget viverra mauris eleifend. Maecenas a dictum diam. Aenean id mauris condimentum, pharetra ex sed, pulvinar lorem. Cras pellentesque ex a sem pretium mattis. Nullam condimentum consectetur magna, a tincidunt leo facilisis ac. Aliquam consectetur maximus mi, vitae interdum odio lobortis non. Suspendisse tincidunt vulputate bibendum. Curabitur vitae nisl magna. In quis tristique sapien. Sed sit amet neque nunc. Morbi ultrices risus vitae magna laoreet pellentesque a eu libero.

Nulla gravida diam id molestie tempor. Sed quis pulvinar orci. In rutrum gravida nisl, eget semper mi auctor quis. Nullam volutpat, nibh eget viverra tristique, dui libero congue arcu, nec condimentum diam ligula nec dui. Etiam ut interdum turpis. Etiam et elementum nisl. Sed venenatis sem ipsum, id volutpat orci tincidunt non. Duis lacus metus, facilisis ut dui quis, volutpat laoreet velit. Nulla elementum diam pretium neque fringilla luctus. Pellentesque tempor erat ac quam venenatis, nec facilisis mi aliquet. Mauris blandit efficitur feugiat. Donec tempor bibendum lacinia. Nam ornare arcu non urna efficitur fermentum ut eget neque. Aenean tellus nisi, vulputate sit amet vehicula vel, vehicula vitae lectus. </p>
                    </div>
                </footer>

            </main>

            <aside>
                <header>
                    <h1>Tenis Polar Cipher</h1>
                    <h2> A.K.A Zenit-Polar </h2>
                    <section id="description">
                        <p>Please enter the desired text. You can change the keys too.</p>
                    </section>
                </header>

                <div id="wrap_keys">
                    <label>Your keys are:</label>
                    <section class="keys">tenis</section>
                    <div id="keys_decor">x</div>
                    <section class="keys">polar</section>
                </div>
                <div id="go_button">
                    <canvas></canvas>
                </div>
            </aside>
        </div>





    </body>
</html>
